# ====================================
# EJEMPLO DE CONFIGURACIÓN DE PRODUCCIÓN - RAÍZ
# ====================================
# Copia este archivo como .env para producción

SERVER_NAME=vps-4709393-x.dattaweb.com
MYSQL_ROOT_PASSWORD=0HH5v9zQmDAil8SUbE946rWs2
MYSQL_DATABASE=pintegralco
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_ROOT_HOST=%
APP_ENV="production"

